@use 'color';
@use 'mixin';
@use 'var';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: color.$base-light;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: clamp(16px, 3vmin, 48px);
    color: color.$base-dark;
}
body {
    overflow-y: scroll;

    > * {
        max-width: var.$pc-width;
        @include mixin.padding-x( calc(50% - min(#{var.$pc-width}, 100%)/2) );
        overflow-y: hidden;
    }

    > main {
        @include mixin.margin-x( 1rem );
    }
}

// page layout
body {
    > header {
        $header-height: 4rem;

        display: flex;
        height: $header-height;
        margin-bottom: 1rem;
        background: color.$base-dark;
        vertical-align: middle;
        color: color.$base-light;

        > h1 {
            flex: 0 0 $header-height;
            height: 100%;
            margin: 0;
            padding: 0 0.1rem;
            text-align: center;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                line-height: calc(0.9 * #{$header-height});

                img {
                    $img-size: 2.5rem;

                    width: $img-size;
                    height: $img-size;
                    border-radius: 50%;
                    border: medium solid color.$base-light;
                    vertical-align: middle;
                }
            }
        }

        > nav {
            flex: auto;
            display: inline-block;
            height: 100%;
            margin: 0;
            margin-left: auto;
            padding: 0;

            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    flex: 1 1 0;
                    height: 100%;
                    @include mixin.margin-y( unset );
                    padding-left: 0.5rem;
                    text-align: center;

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        line-height: $header-height;

                        i.fas {
                            font-size: 120%;
                            vertical-align: -5%;
                        }
                    }
                }
            }
        }

        > h1,
        > nav {
            a:hover {
                background: #336;
            }
        }

        a {
            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    > footer {
        border-top: thin solid color.$base-dark;
        font-size: 80%;

        > p {
            @include mixin.padding-x( 1rem );

            text-align: right;
        }
    }
}

main header {
    border-left: thick solid color.$base-dark;
    background: lighten(color.$base-dark, 80%);

    > * {
        @include mixin.margin-y( 0 );
        @include mixin.padding-y( 0.25rem );
        padding-left: 0.3rem;
        border-left: medium solid color.$base-light;
    }

    > h2 {
        font-size: 180%;
    }
}

h3 {
    min-height: 1.7rem;
    margin-bottom :1rem;
    padding-left: 0.5rem;
    border-left: 1.7rem solid color.$base-dark;
    line-height: 1.7rem;
    font-size: 170%;

    time {
        float: right;
        position: relative;
        top: -1ex;
        font-size: 50%;
    }
}

h3 { font-size: 170% }
h4 { font-size: 130% }
h5 { font-size: 110% }

p, li, dd {
    text-align: justify;
    line-height: 1.5;
}

p { text-indent: 1em }
header p,
footer p {
    text-indent: unset;
}

li {
    @include mixin.margin-y( 0.25rem );
}

table {
    margin: 1rem auto;
}

dl {
    margin: 1rem;

    dt {
        margin-top: 1.5rem;
        font-weight: bold;
    }

    dd {
        margin-top: 0.5rem;
    }
}

.at-mark {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: thin solid inherit;
}

pre {
    white-space: pre-line;
}

figure {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        line-height: 1.5;
    }
}

.text-smaller { font-size: smaller }

.nobr { white-space: nowrap }

abbr[title] {
    position: relative;

    text-decoration: underline dotted;

    &:focus {
        text-decoration: underline;

        &::after {
            content: attr(title);

            // ref: https://bitsofco.de/making-abbr-work-for-touchscreen-keyboard-mouse/
            position: absolute;
            left: 0;
            bottom: -1.8rem;
            width: auto;
            white-space: nowrap;

            padding: 0.1rem 0.3rem;
            background-color: color.$base-dark;
            color: color.$base-light;
            border-radius: 0.2rem;
            box-shadow: 0.1rem 0.1rem 0.6rem black;

            font-size: smaller;
            text-indent: 0;
        }

        &::before {
            display: block;
            content: '';

            position: absolute;
            top: 1.1rem;
            left: 0.3rem;
            margin: auto 0;

            width: 0;
            height: 0;
            border: 0.5rem solid transparent;
            border-top-width: 0;
            border-bottom-color: color.$base-dark;
        }
    }
}
