@import '_color';
@import '_mixin';
@import '_var';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $base-light-color;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-weight: 300;
    color: $base-dark-color;
}

body {
    > header,
    > footer,
    > main,
    > aside {
        max-width: $pc-width;
        @include padding-x( calc(50% - #{$pc-width}/2) );
        overflow-y: hidden;

        > article {
            @include padding-x( 3rem );
        }
    }

    > header {
        $header-height: 5rem;

        display: flex;
        height: $header-height;
        background-color: $base-dark-color;
        vertical-align: middle;
        color: $base-light-color;

        > h1 {
            height: 100%;
            margin: 0;
            padding: 0;
            text-align: center;

            a {
                display: inline-block;
                height: 100%;
                @include padding-x( 1.5rem );
                line-height: calc(0.9 * #{$header-height});

                img {
                    $img-size: 3rem;

                    width: $img-size;
                    height: $img-size;
                    border-radius: 50%;
                    border: medium solid $base-light-color;
                    vertical-align: middle;
                }
            }
        }

        > nav {
            flex: auto;
            display: inline-block;
            height: 100%;
            margin: 0;
            margin-left: auto;
            padding: 0;

            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    flex: auto;
                    height: 100%;
                    margin-left: 2.8rem;
                    line-height: calc(0.9 * #{$header-height});

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-size: 1.3rem;

                        i.fas {
                            margin-right: 0.3rem;
                            font-size: 2rem;
                            vertical-align: middle;
                        }

                        .sr-only {
                            position: unset;
                            width: unset;
                            height: unset;
                            margin: unset;
                            margin-left: 0.3rem;
                            overflow: unset;
                            clip: unset;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        > h1,
        > nav {
            a:hover {
                background-color: #336;
            }
        }

        a {
            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    > main,
    > aside,
    > footer {
        @include padding-y( 1rem );
    }

    > footer {
        border-top: thin solid $base-dark-color;
        font-size: 0.9rem;

        > p {
            @include padding-x( 3rem );
        }
    }
}
