@use 'color';
@use 'mixin';
@use 'var';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: color.$base-light;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 3vmin;
    color: color.$base-dark;
}
body {
    overflow-y: scroll;

    > * {
        max-width: var.$pc-width;
        @include mixin.padding-x( calc(50% - #{var.$pc-width}/2) );
        overflow-y: hidden;

        > article {
            @include mixin.padding-x( 3rem );
        }
    }
}

// page layout
body {
    > header {
        $header-height: 4rem;

        display: flex;
        height: $header-height;
        background: color.$base-dark;
        vertical-align: middle;
        color: color.$base-light;

        > h1 {
            height: 100%;
            margin: 0;
            padding: 0;
            text-align: center;

            a {
                display: inline-block;
                height: 100%;
                @include mixin.padding-x( 1rem );
                line-height: calc(0.9 * #{$header-height});

                img {
                    $img-size: 2.5rem;

                    width: $img-size;
                    height: $img-size;
                    border-radius: 50%;
                    border: medium solid color.$base-light;
                    vertical-align: middle;
                }
            }
        }

        > nav {
            flex: auto;
            display: inline-block;
            height: 100%;
            margin: 0;
            margin-left: auto;
            padding: 0;

            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    flex: 1;
                    height: 100%;
                    @include mixin.margin-y( unset );
                    margin-left: 1.5rem;
                    line-height: $header-height;

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-size: 110%;

                        i.fas {
                            margin-right: 0.5rem;
                            font-size: 200%;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        > h1,
        > nav {
            a:hover {
                background: #336;
            }
        }

        a {
            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    > main,
    > aside {
        @include mixin.padding-y( 1rem );
    }

    > footer {
        border-top: thin solid color.$base-dark;
        font-size: 75%;

        > p {
            @include mixin.padding-x( 3rem );
        }
    }
}

main article header {
    border-left: thick solid color.$base-dark;
    background: #CCF;

    > * {
        @include mixin.margin-y( 0 );
        @include mixin.padding-y( 0.25rem );
        padding-left: 0.3rem;
        border-left: medium solid color.$base-light;
    }

    > h2 {
        font-size: 180%;
    }
}

h3 {
    min-height: 1.7rem;
    padding-left: 0.5rem;
    border-left: 1.7rem solid color.$base-dark;
    line-height: 1.7rem;
    font-size: 170%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 110%;
}

p, li, dd {
    text-align: justify;
    line-height: 1.5;
}

li {
    @include mixin.margin-y( 0.25rem );
}

table {
    margin: 1rem auto;
}

dl {
    margin: 1rem;

    dt {
        margin-top: 1.5rem;
        font-weight: bold;
    }

    dd {
        margin-top: 0.5rem;
    }
}

.at-mark {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: thin solid inherit;
}

pre {
    white-space: pre-line;
}

figure {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        line-height: 1.5;
    }
}

.text-smaller {
    font-size: smaller;
}
