@import '_color';
@import '_mixin';
@import '_var';

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $base-light-color;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

body {
    > header,
    > footer,
    > main,
    > aside {
        @include padding-x( calc(50% - #{$pc-width}/2) );
        overflow-y: hidden;
    }

    > header {
        background-color: $base-dark-color;
        color: $base-light-color;

        a {
            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    > footer {
        border-top: 1pt solid $base-dark-color;
        font-size: 0.9rem;
    }
}
