@import '_color';
@import '_mixin';
@import '_var';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $base-light-color;
}

body {
    > header,
    > footer,
    > main,
    > aside {
        @include padding-x( calc(50% - #{$pc-width}/2) );
        overflow-y: hidden;
    }

    > header {
        background-color: $base-dark-color;
        color: $base-light-color;
    }

    > footer {
        border-top: 1pt solid $base-dark-color;
    }
}
