@import '_color';
@import '_mixin';
@import '_var';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $base-light-color;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

body {
    > header,
    > footer,
    > main,
    > aside {
        max-width: $pc-width;
        @include padding-x( calc(50% - #{$pc-width}/2) );
        overflow-y: hidden;
    }

    > header {
        background-color: $base-dark-color;
        color: $base-light-color;

        a {
            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    > footer {
        @include padding-y( 1rem );
        border-top: thin solid $base-dark-color;
        font-size: 0.9rem;
    }
}
