@use 'color';
@use 'mixin';
@use 'reset';
@use 'var';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: color.$base-light;
    color: color.$base-dark;
}
html {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    font-size: 100%;
}
body {
    font-size: 125%;
    overflow-y: scroll;

    > * {
        @include mixin.padding-x( calc(50% - min(#{var.$pc-width}, 100%)/2) );
        overflow-y: hidden;
    }

    > main {
        @include mixin.margin-x( 1rem );
    }
}

// page layout
body {
    > header {
        $header-height: 4rem;

        display: flex;
        height: $header-height;
        margin-bottom: 1rem;
        background: color.$base-dark;
        vertical-align: middle;
        color: color.$base-light;

        > h1 {
            flex: 0 0 $header-height;
            height: 100%;
            margin: 0;
            padding: 0;
            text-align: center;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                line-height: calc(0.9 * #{$header-height});
                vertical-align: top;

                img {
                    display: inline-block;

                    $img-size: 3rem;
                    width: $img-size;
                    height: $img-size;

                    border-radius: 50%;
                    border: medium solid color.$base-light;

                    vertical-align: middle;
                }
            }
        }

        > nav {
            flex: auto;
            display: inline-block;
            height: 100%;
            margin: 0;
            margin-left: auto;
            padding: 0;

            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    flex: 1 1 auto;
                    height: 100%;
                    @include mixin.margin-y( unset );
                    padding-left: 0.5rem;
                    text-align: center;

                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        line-height: $header-height;

                        i.fas {
                            font-size: 100%;
                            vertical-align: -5%;
                        }

                        span {
                            font-size: 90%;
                        }
                    }
                }
            }
        }

        > h1,
        > nav {
            a:hover {
                background: #336;
            }
        }

        a {
            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    > footer {
        border-top: thin solid color.$base-dark;
        font-size: 80%;

        > p {
            @include mixin.padding-x( 1rem );

            text-align: right;
        }
    }
}

main header {
    border-left: thick solid color.$base-dark;
    background: lighten(color.$base-dark, 80%);

    > * {
        @include mixin.margin-y( 0 );
        padding-left: 0.3rem;
        border-left: medium solid color.$base-light;
    }

    > h2 {
        font-size: 180%;
    }
}

h3 {
    min-height: 2rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border-left: 2rem solid color.$base-dark;
    line-height: 1;

    time {
        float: right;
        position: relative;
        font-size: 50%;
    }
}

h3 { font-size: 170% }
h4 { font-size: 130% }
h5 { font-size: 110% }

h1, h2, h3, h4, h5, h6 { margin-top: 2rem }
p { margin-top: 1rem }
h1, h2, h3, h4, h5, h6, p { margin-bottom: 1rem }

p, li, dd {
    text-align: justify;
}
p, li, dd, figcaption, input, button, textarea, select, label {
    line-height: 1.5;
}

p { text-indent: 1em }
header p,
footer p {
    text-indent: unset;
}

ul, ol { padding-left: 2rem }
li { margin: 0.5rem 0 }

table {
    border-collapse: collapse;

    max-width: 100%;

    margin: 1rem auto;
}

dl {
    margin: 1rem;

    dt {
        margin-top: 1.5rem;
        font-weight: bold;
    }

    dd {
        margin-top: 0.5rem;
    }
}

.at-mark {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: thin solid inherit;
}

pre {
    white-space: pre-line;
}

figure {
    text-align: center;

    img {
        max-width: 320px;
        width: 100%;
        height: auto;

        margin: auto;
    }
}

.text-smaller { font-size: smaller }

.nobr { white-space: nowrap }

abbr[title] {
    position: relative;

    text-decoration: underline dotted;
    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &:focus {
        &::after {
            content: attr(title);

            // ref: https://bitsofco.de/making-abbr-work-for-touchscreen-keyboard-mouse/
            position: absolute;
            left: 0;
            bottom: -2rem;
            width: auto;
            white-space: nowrap;

            padding: 0.1rem 0.3rem;
            background-color: color.$base-dark;
            color: color.$base-light;
            border-radius: 0.2rem;
            box-shadow: 0.1rem 0.1rem 0.6rem black;

            font-size: smaller;
            text-indent: 0;
        }

        &::before {
            display: block;
            content: '';

            position: absolute;
            top: 1.4rem;
            left: 0.3rem;
            margin: auto 0;

            width: 0;
            height: 0;
            border: 0.5rem solid transparent;
            border-top-width: 0;
            border-bottom-color: color.$base-dark;
        }
    }
}

// form
// ref: https://qiita.com/takeshisakuma/items/4218822871af486c8469
form {
    margin: 1rem 0;
}

input,
button,
textarea,
select {
    margin-bottom: 0.7rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 0;

    box-sizing: border-box;

    font-family: inherit;
    font-size: 90%;
    color: inherit;
}

label {
    display: block;

    cursor: pointer;
}

input {
    width: 100%;

    background: lighten(color.$base-dark, 80%);

    border: thin solid transparent;

    height: 1.5rem;

    outline: none;

    transition: border 0.05s ease-out;

    &:focus {
        border: thin solid color.$base-dark;
    }
}

textarea {
    width: 100%;

    padding: 0.1rem;

    background: lighten(color.$base-dark, 80%);

    border: thin solid transparent;

    outline: none;

    resize: vertical;

    transition: border 0.05s ease-out;

    &::-webkit-scrollbar {
        width: 0.2rem;
    }
    &::-webkit-scrollbar-track {
        background: lighten(color.$base-dark, 80%);
    }
    &::-webkit-scrollbar-thumb {
        background: color.$base-dark;
    }

    &:focus {
        border: thin solid color.$base-dark;

        box-shadow: none;
    }
}

button {
    display: block;

    margin: 0.1rem auto 0;
    padding: 0.2rem 1.4rem 0;

    background: lighten(color.$base-dark, 80%);

    border: none;
    border-width: thin medium medium thin;
    border-style: solid;
    border-color: white color.$base-dark color.$base-dark white;

    outline: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    transition:
        background-color 0.2s ease-out,
        transform        0.2s ease-out;

    &:hover,
    &:focus {
        background: white;
    }

    &:active {
        background: lighten(color.$base-dark, 80%);
        transform: translateY(0.1rem);
    }
}
