@use 'color';
@use 'mixin';

table.history {
    border-spacing: 0;

    tr {
        th, td {
            padding: 0;
            height: 1rem;
        }
    
        th {
            height: 3.5rem;
            padding: 0;
            border-right: thin solid color.$base-dark-color;
            text-align: right;
            
            span {
                height: 2rem;
                @include mixin.padding-y( 0.2rem );
                padding-left: 1rem;
                padding-right: 0.6rem;
                background-color: color.$base-dark-color;
                border-right: thin solid color.$base-dark-color;
                vertical-align: middle;
                color: color.$base-light-color;
            }
        }

        &:last-of-type {
            th, td {
                height: unset;
                border-top: medium solid color.$base-dark-color;
                border-right: unset;
                border-left: unset;
            }
        }
        
        td {
            padding-left: 0.5rem;
            border-left: medium solid color.$base-dark-color;
        }
    }
}
