@use 'color';
@use 'mixin';

// page layout
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > header {
        flex: 0 0 8rem;
    }

    > main {
        flex: 0 0 auto;
        @include mixin.margin-y( unset );
    }

    > aside {
        flex: 0 0 auto;
        @include mixin.margin-y( unset );
    }

    > footer {
        flex: 0 0 auto;
    }
}

// top header
body > header {
    justify-content: space-around;
    border-bottom: solid thick color.$base-light;

    div#title {
        flex: 0 0 60%;
        @include mixin.margin-y( auto );
        padding: 0.5rem;

        > * {
            margin: 0;
            @include mixin.padding-y( 0.5rem );
            line-height: 1;
            text-align: unset;
        }

        > h1 {
            font-size: 170%;
            letter-spacing: 0.1rem;
        }
    }

    div#photo {
        flex: 0 0 auto;
        margin: 0;

        img {
            width: auto;
            height: 100%;
        }
    }
}

// main menu
body > main nav {
    margin-top: -1rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        padding-inline-start: 0;

        list-style: none;

        li {
            flex: 1 0 10rem;

            margin: 1rem 0;

            text-align: center;

            a {
                display: inline-block;
                text-align: center;

                * {
                    vertical-align: middle;
                }

                &,
                &:active,
                &:hover,
                &:visited,
                &:focus {
                    color: inherit;
                    text-decoration: none;
                }

                > i.fas {
                    width: 7rem;
                    @include mixin.padding-y( 1rem );
                    border-radius: 0.3rem;
                    background: color.$base-dark;
                    color: color.$base-light;
                    font-size: 300%;
                }
                &:hover > i.fas {
                    background: #336;
                }
            }
        }
    }
}

// SNS list
body > aside nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-inline-start: 0;

    list-style: none;

    li {
        flex: 1 1 0;

        a {
            display: inline-block;
            text-align: center;

            width: 100%;
            line-height: 4.5rem;

            * {
                vertical-align: middle;
            }

            &,
            &:active,
            &:hover,
            &:visited,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }

        img {
            &#hatena-blog {
                width: 4rem;
                height: 4rem;
            }
            &#pixiv,
            &#annict {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        i.fab {
            font-size: 250%;
        }
    }
}
