@use 'color';
@use 'mixin';

// page layout
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > header {
        flex: 0 0 10rem;
        margin-bottom: unset;
    }

    > main {
        flex: 1 0 auto;
        margin: 0;
    }

    > aside {
        flex: 1 0 auto;
        @include mixin.margin-y( unset );
    }

    > footer {
        flex: 0 0 auto;
    }
}

// top header
body > header {
    justify-content: space-around;
    border-bottom: solid thick color.$base-light;

    div#title {
        flex: 0 1 60%;

        @include mixin.margin-y( auto );
        padding-left: 0.5rem;

        > * {
            margin: 0;
            @include mixin.padding-y( 0.5rem );
            line-height: 1.1;
            text-align: unset;
        }

        > h1 {
            font-size: 150%;
            letter-spacing: 0.1rem;
        }
    }

    div#photo {
        flex: 0 0 auto;
        margin: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// main menu
body > main nav {
    height: 100%;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        
        height: 100%;

        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;

        list-style: none;

        li {
            flex: 0 1 9rem;

            margin: 0;

            text-align: center;

            a {
                display: inline-block;

                &,
                &:active,
                &:hover,
                &:visited,
                &:focus {
                    color: inherit;
                    text-decoration: none;
                }

                div.icon {
                    width: 7rem;
                    height: 3rem;
                    @include mixin.padding-y( 1rem );

                    border-radius: 0.3rem;
                    background: color.$base-dark;
                    color: color.$base-light;

                    &:hover {
                        background: #336;
                    }

                    i.fas {
                        display: inline-block;
                        margin: auto;
                        font-size: 250%;
                    }
                }
            }
        }
    }
}

// SNS list
body > aside nav {
    height: 100%;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;

        height: 100%;

        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;

        list-style: none;

        li {
            flex: 0 1 6.5rem;

            text-align: center;

            a {
                display: inline-block;

                width: 100%;
                height: 4rem;
                line-height: 4rem;

                * {
                    vertical-align: middle;
                }

                &,
                &:active,
                &:hover,
                &:visited,
                &:focus {
                    color: inherit;
                    text-decoration: none;
                }
            }

            img {
                &#hatena-blog {
                    width: 4rem;
                    height: 4rem;
                }
                &#pixiv,
                &#annict {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            i.fab {
                font-size: 250%;
            }
        }
    }
}
