@import '_color';
@import '_mixin';
@import '_var';

body {
    > header {
        display: flex;
        height: 16rem;

        div#photo {
            margin: auto;
            @include padding-x( 3rem );

            img {
                border-radius: 50%;
                border: thick solid $base-light-color;
            }
        }

        div#title {
            flex: auto;
            margin: auto;

            > * {
                margin: 0;
                @include padding-y( 0.5rem );
                line-height: 1;
            }

            > h1 {
                font-size: 2.5rem;
                letter-spacing: 0.1rem;
            }

            > p {
                font-size: 1.5rem;
            }
        }
    }

    > main,
    > aside {
        margin-top: 1rem;

        nav {
            width: 100%;
            display: table;
            table-layout: fixed;

            ul {
                display: table-row;

                li {
                    display: table-cell;

                    a {
                        display: block;
                        text-align: center;

                        &,
                        &:active,
                        &:hover,
                        &:visited,
                        &:focus {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    > main {
        nav ul li {
            vertical-align: middle;

            a {
                font-size: 1.2rem;

                > i.fas {
                    width: 9rem;
                    @include padding-y( 1.5rem );
                    border-radius: 0.3rem;
                    background-color: $base-dark-color;
                    color: $base-light-color;
                    font-size: 4rem;
                }

                &:hover > i.fas {
                    background-color: #336;
                }
            }

            div {
                margin-top: 0.5rem;
            }
        }
    }

    > aside {
        nav ul li {
            vertical-align: middle;

            img {
                display: inline-block;

                &#hatena-blog {
                    width: 4.5rem;
                    height: 4.5rem;
                }
                &#pixiv,
                &#annict {
                    width: 3rem;
                    height: 3rem;
                }
            }

            i.fab {
                font-size: 3rem;
            }
        }
    }
}
