@import '_color';
@import '_mixin';
@import '_var';

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > header {
        flex: 0 1 auto;

        display: flex;
        height: 16rem;

        div#photo {
            margin: auto;
            @include padding-x( 3rem );

            img {
                border-radius: 50%;
                border: thick solid $base-light-color;
            }
        }

        div#title {
            flex: auto;
            margin: auto;

            > * {
                margin: 0;
                @include padding-y( 0.5rem );
                line-height: 1;
            }

            > h1 {
                font-size: 2.5rem;
                letter-spacing: 0.1rem;
            }

            > p {
                font-size: 1.5rem;
            }
        }
    }

    > main,
    > aside {
        padding: unset;

        nav {
            width: 100%;

            ul {
                margin-block: 0;
                padding-inline-start: 0;

                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    margin: 0;

                    &:before {
                        content: unset;
                    }

                    a {
                        display: inline-block;
                        text-align: center;

                        &,
                        &:active,
                        &:hover,
                        &:visited,
                        &:focus {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    > main {
        flex: 0 1 auto;

        nav ul li {
            a {
                font-size: 1.2rem;

                > i.fas {
                    width: 9rem;
                    @include padding-y( 1.5rem );
                    border-radius: 0.3rem;
                    background-color: $base-dark-color;
                    color: $base-light-color;
                    font-size: 4rem;
                }

                &:hover > i.fas {
                    background-color: #336;
                }
            }

            div {
                margin-top: 0.5rem;
            }
        }
    }

    > aside {
        flex: 0 1 auto;

        nav ul li {
            a {
                line-height: 4.5rem;

                > * {
                    vertical-align: middle;
                }
            }

            img {
                &#hatena-blog {
                    width: 4.5rem;
                    height: 4.5rem;
                }
                &#pixiv,
                &#annict {
                    width: 3rem;
                    height: 3rem;
                }
            }

            i.fab {
                font-size: 3rem;
            }
        }
    }

    > footer {
        flex: 0 1 auto;

        height: unset;
        padding: unset;
    }
}
