@use 'color';
@use 'mixin';

$color-map: (
    pt5: #e87afd,
    pt4: #f56d64,
    pt3: #faff79,
    pt2: #bbf59d,
    pt1: #b7ddfd,
    pt0: #ffffff,
);

@each $clazz, $color in $color-map {
    .#{$clazz} {
        color: $color;
        @include mixin.text-stroke(1pt, 0, color.$base-dark);
    }
}
