@use 'color';
@use 'mixin';

table.profile {
    border-spacing: 0;

    tr {
        th, td {
            padding-top: 1rem;
        }

        th {
            @include mixin.padding-x( 1rem );
            border-bottom: medium solid color.$base-dark-color;
        }
        
        td {
            padding-left: 1rem;
        }
    }
}
