<head>
  <meta charset="utf-8">
  <title>{{ title }} | {{ i18n.site_name }}</title>
  <link href="/css/common.css" rel="stylesheet">
  {{#custom_css}}
  <link href="{{ href }}" rel="stylesheet">
  {{/custom_css}}
</head>
