<head>
  <meta charset="utf-8">
  <title>{{ title }} | {{ i18n.site_name }}</title>
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <script src="https://kit.fontawesome.com/08f6e2d41a.js" crossorigin="anonymous"></script>
  <link href="/css/common.css" rel="stylesheet">
  {{#custom_css}}
  <link href="{{ href }}" rel="stylesheet">
  {{/custom_css}}
</head>
