<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <title>{{ title }}{{^overwrite_title}} | {{ i18n.site_name }}{{/overwrite_title}}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  {{#site.meta_ogp}}
  <meta property="og:{{ property }}" content="{{ content }}">
  {{/site.meta_ogp}}
  {{#i18n.meta_ogp}}
  {{^hidden}}
  <meta property="og:{{ property }}" content="{{ content }}">
  {{/hidden}}
  {{/i18n.meta_ogp}}
  {{#meta_ogp}}
  <meta property="og:{{ property }}" content="{{ content }}">
  {{/meta_ogp}}
  {{#profile_ogp}}
  <meta property="profile:{{ property }}" content="{{ content }}">
  {{/profile_ogp}}
  {{#article_ogp}}
  <meta property="article:{{ property }}" content="{{ content }}">
  {{/article_ogp}}
  {{#site.twitter_ogp}}
  <meta property="{{ property }}" content="{{ content }}">
  {{/site.twitter_ogp}}
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <script src="https://kit.fontawesome.com/08f6e2d41a.js" crossorigin="anonymous"></script>
  <link href="/css/common.css" rel="stylesheet">
  {{#custom_css}}
  <link href="{{ href }}" rel="stylesheet">
  {{/custom_css}}
  {{> gtag }}
</head>
