---
title: "{{ i18n.dict.works }}"
headline: "{{ i18n.dict.works }}"
description: "{{#lang_ja}}林純一がつくったモノの一覧です。{{/lang_ja}}"
---
{{#lang_ja}}
  <p>
    個人で制作したモノの一覧です。
  </p>

  <h3>
    <time datetime="2012">2012 年</time>
    Breaking Enemies
  </h3>
  <p>
    タワーディフェンスゲームです。
  </p>
  <figure>
    <img src="{{ site.img_host_url }}/works/breaking-enemies/tutorial4.png" width="960" height="480" alt="「Breaking Enemies」の遊び方説明">
    <figcaption>チュートリアル画面</figcaption>
  </figure>
  <p>
    実装は <abbr title="Hot Soup Processor" tabindex="0">HSP</abbr> 3.31RC で、<a href="https://github.com/nahcnuj/BreakingEnemies" target="_blank">ソースコードは GitHub で公開</a>しています。
    当時はまだバージョン管理システムを知らなかったので、開発履歴は残っていません。
  </p>

  <h3>
    <time datetime="2011">2011 年</time>
    変なブロック崩し
  </h3>
  <p>
    ボールがブロックやバーに当たると、直感に反してランダムに跳ね返るブロック崩しです。
    当時、ボールの反射処理が書けず、ランダムに跳ね返るようにしたためです。
  </p>
  <figure>
    <img src="{{ site.img_host_url }}/works/funny-breakout/start-game.png" width="646" height="508" alt="「変なブロック崩し」のゲーム画面">
    <figcaption>ゲーム画面</figcaption>
  </figure>
  <p>
    実装は <abbr title="Hot Soup Processor" tabindex="0">HSP</abbr> 3.22 で、<a href="https://github.com/nahcnuj/FunnyBreakout" target="_blank">ソースコードは GitHub で公開</a>しています。
    当時はまだバージョン管理システムを知らなかったので、開発履歴は残っていません。
  </p>

  <h3>
    <time datetime="2011">2011 年</time>
    ローグライク RPG の戦闘部分
  </h3>
  <p>
    C++ の勉強がてら、ローグライク RPG の戦闘部分を作りました。
  </p>
  <figure>
    <img src="{{ site.img_host_url }}/works/rogue-like-like/4_encount-enemy.png" width="557" height="229" alt="戦闘開始画面">
    <figcaption>戦闘開始</figcaption>
  </figure>
  <p>
    実装は Visual C++ 2008 で、<a href="{{ site.img_host_url }}/works/rogue-like-like/rogue-like-like_src.zip" target="_blank">ソースコードはこちらから zip ファイルでダウンロード</a>できます。
  </p>
{{/lang_ja}}
