<header>
  <h1><a href="/"><img src="{{ site.img_host_url }}/author_icon.jpg" width="50" height="50" alt="{{ site.author }}'s photo"></a></h1>
  <nav>
    <ul>
      <li>
        <a href="/profile.html">
          <i class="fas fa-address-card"></i>
          <span>{{ i18n.dict.self_introduction }}</span>
        </a>
      </li>
      <li>
        <a href="/diary/">
          <i class="fas fa-calendar-day"></i>
          <span>{{ i18n.dict.diary }}</span>
        </a>
      </li>
      <li>
        <a href="/works/">
          <i class="fas fa-shapes"></i>
          <span>{{ i18n.dict.works }}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
