<header>
  <h1><a href="/"><img src="{{ site.img_host_url }}/author.jpg" width="50" height="50" alt="{{ site.author }}'s photo"></a></h1>
  <nav>
    <ul>
      <li>
        <a href="/profile.html">
          <i class="fas fa-address-card" title="{{ i18n.dict.self_introduction }}"></i>
          {{ i18n.dict.self_introduction }}
        </a>
      </li>
      <li>
        <a href="/diary/">
          <i class="fas fa-calendar-day" title="{{ i18n.dict.diary }}"></i>
          {{ i18n.dict.diary }}
        </a>
      </li>
      <li>
        <a href="/works/">
          <i class="fas fa-shapes" title="{{ i18n.dict.works }}"></i>
          {{ i18n.dict.works }}
        </a>
      </li>
    </ul>
  </nav>
</header>
