---
title: Contact information
description: '{{ i18n.dict.contact_page_description }}'
headline: '{{ i18n.dict.contact_page_head_text }}'
lead: '{{ i18n.dict.contact_page_lead_text }}'
meta_ogp:
  basic:
    - property: type
      content: website
    - property: image
      content: '{{ site.host_url }}/img/author.jpg'
    - property: image:alt
      content: '{{ i18n.dict.author_image_alt }}'
    - property: url
      content: '{{ site.host_url }}/contact.html'
---
<main>
  <article>
    {{> article-header }}

    <dl>
      {{#site.contact_list}}
      <dt>{{ title }}</dt>
      <dd><a href="{{ href }}">{{ address }}</a></dd>
      {{/site.contact_list}}
    </dl>
  </article>
</main>
