---
title: Junichi Hayashi's Portfolio
custom_css:
  href: /css/index.css
---
<header>
  <img src="/img/author.jpg" width="200" height="200">
  <h1>{{ site.author }}</h1>
  <p>
    A web engineer at <a href="https://www.seesaa.co.jp/" target="_blank">Seesaa Inc.</a>
  </p>
</header>
<main>
  <nav id="main-contents">
    <ul>
      {{#i18n.main_contents}}
      <li><a href="{{ href }}">{{ title }}</a></li>
      {{/i18n.main_contents}}
    </ul>
  </nav>
</main>
<aside>
  <nav>
    <ul>
      {{#i18n.sns_links}}
      <li><a href="{{ href }}">
        {{#fontawesome_icon}}
        <i class="fab fa-{{ name }}" title="{{ title }}"></i>
        {{/fontawesome_icon}}
        {{#img_icon}}
        <img src="{{ src }}" width="{{ size }}" height="{{ size }}" alt="{{ title }}" title="{{ title }}">
        {{/img_icon}}
      </a></li>
      {{/i18n.sns_links}}
    </ul>
  </nav>
</aside>
