---
title: Junichi Hayashi's Profile
description: '{{ i18n.dict.profile_page_description }}'
headline: '{{ i18n.dict.profile_page_head_text }}'
lead: '{{ i18n.dict.profile_page_lead_text }}'
custom_css:
  - href: /css/history-table.css
  - href: /css/profile-table.css
meta_ogp:
  basic:
    - property: type
      content: profile
    - property: profile:first_name
      content: '{{ i18n.dict.author_first_name }}'
    - property: profile:last_name
      content: '{{ i18n.dict.author_last_name }}'
    - property: profile:username
      content: nahcnuj
    - property: image
      content: '{{ site.host_url }}/img/author.jpg'
    - property: image:alt
      content: '{{ i18n.dict.author_image_alt }}'
    - property: url
      content: '{{ site.host_url }}/profile.html'
---
<main>
  <article>
    {{> article-header }}

    <table class="profile">
      {{#i18n.profile}}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr>
      {{/i18n.profile}}
    </table>

    <h3>{{ i18n.dict.biography }}</h3>
    <table class="history">
      {{#i18n.biography}}
      <tr>
        <th><span>{{ date }}</span></th>
        <td>{{ event }}</td>
      </tr>
      {{/i18n.biography}}
      <tr>
        <th>{{ i18n.dict.now }}</th>
        <td></td>
      </tr>
    </table>
  </article>
</main>
