<!DOCTYPE html>
<html lang="{{ language }}">
  {{> head }}
  <body>
    {{> header }}
    <main>
      <article>
        {{> article-header }}

        {{> content }}
      </article>
    </main>
    {{> footer }}
  </body>
</html>
