<!DOCTYPE html>
<html lang="{{ language }}">
  {{> head }}
  <body>
    {{> page-header }}
    <main>
      {{> content-header }}
      {{> content }}
    </main>
    {{> page-footer }}
  </body>
</html>
