name: Build

on:
  push:
    branches: [ source ]

env:
  PAGE_BUILDER_TAG: page-builder
  UZU_TAG: nahcnuj/alpine-uzu:1.2.1
  SASS_TAG: nahcnuj/alpine-sassc:3.6.1
  MUSTACHE_CACHE_KEY: mustache-cache
  ARTIFACT_CACHE_KEY: artifact-cache

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: flat35hd99/cache-make@v1.0.0

      - id: cache-artifact
        name: Cache builded artifacts
        uses: actions/cache@v2
        with:
          path: ${{ env.ARTIFACT_CACHE_KEY }}
          key: ${{ env.ARTIFACT_CACHE_KEY }}

      - name: Extract the last builded artifacts
        run: tar -xzvf ${{ env.ARTIFACT_CACHE_KEY }} || true

      - id: cache-page-builder
        name: Cache a page-builder Docker image
        uses: actions/cache@v2
        with:
          path: ${{ env.PAGE_BUILDER_TAG }}
          key: ${{ env.PAGE_BUILDER_TAG }}_${{ runner.os }}

      - name: Build and save a page-builder Docker image
        if: steps.cache-page-builder.outputs.cache-hit != 'true'
        run: |
          docker build -t ${{ env.PAGE_BUILDER_TAG }} -f docker/page-builder/Dockerfile .
          docker save ${{ env.PAGE_BUILDER_TAG }} -o ${{ env.PAGE_BUILDER_TAG }}

      - name: Load the page-builder Docker image
        run: docker load -i ${{ env.PAGE_BUILDER_TAG }}

      - id: cache-mustache
        name: Cache generated mustache templates
        uses: actions/cache@v2
        with:
          path: ${{ env.MUSTACHE_CACHE_KEY }}
          key: ${{ env.MUSTACHE_CACHE_KEY }}

      - name: Generate Mustache templates from R Markdown files
        run: |
          tar -xzvf ${{ env.MUSTACHE_CACHE_KEY }} || :
          make gen-page
          tar -czvf ${{ env.MUSTACHE_CACHE_KEY }} pages
      
      - id: cache-uzu
        name: Cache my Uzu Docker image
        uses: actions/cache@v2
        with:
          path: ${{ env.UZU_TAG }}
          key: ${{ env.UZU_TAG }}_${{ runner.os }}

      - name: Pull and save the Uzu Docker image
        if: steps.cache-uzu.outputs.cache-hit != 'true'
        run: |
          docker pull ${{ env.UZU_TAG }}
          dirname ${{ env.UZU_TAG }} | xargs mkdir -p
          docker save ${{ env.UZU_TAG }} -o ${{ env.UZU_TAG }}

      - name: Load the Uzu Docker image
        run: docker load -i ${{ env.UZU_TAG }}

      - name: Build HTML
        run: make html

      - id: cache-sass
        name: Cache my Sass Docker image
        uses: actions/cache@v2
        with:
          path: ${{ env.SASS_TAG }}
          key: ${{ env.SASS_TAG }}_${{ runner.os }}

      - name: Pull and save the Sass Docker image
        if: steps.cache-sass.outputs.cache-hit != 'true'
        run: |
          docker pull ${{ env.SASS_TAG }}
          dirname ${{ env.SASS_TAG }} | xargs mkdir -p
          docker save ${{ env.SASS_TAG }} -o ${{ env.SASS_TAG }}

      - name: Load the Sass Docker image
        run: docker load -i ${{ env.SASS_TAG }}

      - name: Build CSS
        run: make css

      - name: Cache builded artifacts
        run: tar -czvf ${{ env.ARTIFACT_CACHE_KEY }} build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: master
          publish_dir: ./build
