# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ source ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Build
      env:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        github_repository: ${{ github.repository }}
        images: page-builder:latest sass-builder:latest
      run: |
        username=$(echo ${github_repository} | sed -e 's,\(.*\)/.*,\1,')
        echo ${github_token} | docker login docker.pkg.github.com --username ${username} --password-stdin
        push_to=docker.pkg.github.com/${github_repository}
        #echo "${images}" | tr " " "\n" | xargs -n 1 -IXXXX echo "docker pull ${push_to}/XXXX && docker tag ${push_to}/XXXX XXXX"
        echo "${images}" | tr " " "\n" | xargs -n 1 -IXXXX sh -c "docker pull ${push_to}/XXXX && docker tag ${push_to}/XXXX XXXX"
        make css build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: master
        publish_dir: ./build

  docker:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Build
      env:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        github_repository: ${{ github.repository }}
        images: page-builder:latest sass-builder:latest
      run: |
        username=$(echo ${github_repository} | sed -e 's,\(.*\)/.*,\1,')
        echo ${github_token} | docker login docker.pkg.github.com --username ${username} --password-stdin
        push_to=docker.pkg.github.com/${github_repository}
        #echo "${images}" | tr " " "\n" | xargs -n 1 -IXXXX echo "docker pull ${push_to}/XXXX && docker tag ${push_to}/XXXX XXXX"
        echo "${images}" | tr " " "\n" | xargs -n 1 -IXXXX sh -c "docker pull ${push_to}/XXXX && docker tag ${push_to}/XXXX XXXX"
        make docker-build
        #echo "${images}" | tr " " "\n" | xargs -n 1 -IXXXX echo "docker tag XXXX ${push_to}/XXXX && docker push ${push_to}/XXXX"
        echo "${images}" | tr " " "\n" | xargs -n 1 -IXXXX sh -c "docker tag XXXX ${push_to}/XXXX && docker push ${push_to}/XXXX"
