name: Build

on:
  push:
    branches: 
      - source
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          key: node_modules_${{ hashFiles('**/package-lock.json') }}
          path: ~/.npm

      - name: Build
        run: make

      - uses: actions/upload-artifact@v4
        with:
          path: dist

      - if: failure()
        uses: ./.github/actions/notify-failure
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy:
    if: github.event_name == 'push'
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: dist/artifact

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5

      - name: Notify success to Slack
        if: success()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: Deployed successfully!
          SLACK_COLOR: good
          MSG_MINIMAL: true

      - if: failure()
        uses: ./.github/actions/notify-failure
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
