name: HTML5 validate

on:
  push:
    branches:
      - staging

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: staging

      - uses: Cyb3r-Jak3/html5validator-action@bd8ee22d3b06b9c9b424e6c03abfbc57a022c374
        with:
          root: .
          css: false
          format: json

      - if: failure()
        uses: ./.github/actions/notify-failure
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}

      - if: always()
        uses: actions/upload-artifact@v2
        with:
          name: log.json
          path: log.log
